.idea
*.egg-info/
*.egg
__pycache__/
*.so
*~
*.gz
*.tgz
*.zip
*.rar
*.7z
*.exe
*.sfx
*.sqlite3
*.h5
*.xls
*.xlsx
*.docx
*.doc
#*.png
#*.jpg
#*.gif
#*.ico

# due to using tox and pytest
.tox
.cache

#*.whl
#dist
#build
/**/dist/*.whl
.build
.last
.release
/files
screens
captcha

node_module